@import url("https://fonts.cdnfonts.com/css/effra-heavy");
@import url("https://fonts.cdnfonts.com/css/effra");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --background-color: #fafafa;
  --object-color: #f5f5f5;
  --branding-color: #a8ff35;
  --mute-text-color: #8b8b8b;
}

/* ===--- Main Elements ---=== */

body,
button,
a {
  font-family: "Effra", sans-serif;
  font-size: 18px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Effra Heavy", sans-serif;
  font-size: 72px;
  line-height: 80px;
}

h2,
h3 {
  font-family: "Effra Medium", sans-serif;
}

/* ===--- Class Helpers ---=== */

.bg-black {
  background-color: black;
  color: white;
}

.btn-white {
  padding: 12px 32px;
  background: white;
  color: black;
  border-radius: 40px;
}

.btn-branding {
  padding: 16px 32px;
  background-color: var(--branding-color);
  color: black;
  border-radius: 40px;
}

/* ===--- NAVBAR ---=== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.logo-vector {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 10px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.nav-list {
  display: flex;
}
.nav-item {
  margin: 0 20px;
}

.navbar a {
  margin-left: 40px;
}

/* ===--- Hero ---=== */

.hero {
  padding: 120px 30px 365px;
  text-align: center;
}

.hero p {
  color: var(--mute-text-color);
  line-height: 27px;
  margin: 24px 0 40px;
}
